/* div class pour le logo */
body{
    background-color: #fff;
}
.logo-div {
    text-align: center;
    float: left;
    display: block;
    background-color: #ADEFD1FF;
    width: 6%;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
/* div class pour le slogan */
.slogan-div {
	position: relative;
	display: block;
    text-align: center;
    background-color:  #0C3865;
    float: right;
    color: #ADEFD1FF;
    width: 93%;
    height: 100%;
	border-radius: 0;
}
/* id pour la balise img d'apercu de logo */
#logo-header{
    object-position: fit;
    width: 80%;
    height:100%;
}
@media only screen and (max-width: 768px) {

    .logo-div {
        float: left;
        display: flex;
        width: 20%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .slogan-div {
        position: relative;
        display: block;
        text-align: center;
        background-color:  #0C3865;
        float: right;
        color: white;
        width: 80%;
        height: 100%;
        border-radius: 0%;
    }
    .slogan-div h2 {
        font-size: 100%;
    }
}