body {
	font-family: 'Calibri','Book Antiqua','New Times Roman'; 
}
h1,h2 {
	font-family: 'Bookman Old Style','Arial','BATMANFOREVERALTERNATIVE';
}
input[type=text], select, checkbox {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=password], #email, #e-conf, #nom, #prenom {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
label {
    text-align: right;
    display: inline-block;
    width: 18%;
    }
#l-laureat {
    text-align: left;
    width: auto;
}
input[type=submit] {
  background-color: white;
  color: #0C3865;
  margin-right: 10%;
  width: 15%;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
.MotPass {
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 7px;
  width: 50%;
}
#emessage, #pmessage {
  display: inline-block;
  background-color: red;
  border-radius: 5px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 0;
  width: 50%;
}
input[type=submit]:hover {
	color: white;
    background-color: #48C2B3;
}
.contact {
	padding: 9px;
	background-color:  white;
	color: #0C3865;
}
.conteneur {
	color: white;
	background-color:  #0C3865;
	margin-left: 5%;
	margin-right: 5%;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .conteneur {
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px;
  }
  .contact{
		background-color: white;
		color: #0C3865;
		padding: 5px;
    }
    input[type=password], #email, #e-conf, #nom, #prenom {
        width: 100%;
    }
    label {
        text-align: left;
        display: inline-block;
        width: 100%;
        }
        input[type=submit] {
            background-color: white;
            color: #0C3865;
            float: none;
            width: 50%;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
          }
          #emessage, #pmessage {
            width: 100%;
          }
          .MotPass {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
          }
}